/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.post-img-slideshow-container {
  width: 400px;
  margin: 25px;
}

.feed-item-img {
  width: 100%;
  height: auto;
}

.slick-prev {
    visibility: hidden;
  	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 45%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:blue;
	border: none;
	position: absolute;
	left: 10px;
	padding: 0;
	z-index: 15
}

.slick-next {
  visibility: hidden;
	display: block;

	font-size: 30px;
	line-height: 1.5;
	top: 45%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:blue;
	border: none;
	position: absolute;
	right: -15px;
	padding: 0;
	z-index:15
 
}


.slick-arrow.slick-prev:after {
	content: url('icons8-back-arrow-30.png');
	visibility: visible;
	display: block;

	font-size: 40px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	left: 0px;
	padding: 0;
	z-index:100

}

.slick-arrow.slick-next:after {
	content: url('icons8-forward-button-30.png'); 
	visibility: visible;
	display: block;

	font-size: 40px;
	line-height: 1.5;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(0,-50%);
	cursor: pointer;

	color:white;
	border: none;
	position: absolute;
	right: 30px;
	padding: 0;
	z-index:100
}