.feed-container {
  width: 614px;
  margin: 0 auto;
}

.feed-item{
  /* width: 614px; */
  border: 1px solid #eaeaea;
  margin: 0px auto 5px auto;
}

.author-and-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author-and-location {
  margin-left: 15px;
}

.post-author-picture {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 42px;
  object-position: 100% 0;
  margin-top: 1px;
  margin-left: 5px;
}

.comment-author-picture {
  /* height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 16px;
  object-position: 100% 0;
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px; */
  width: 32px;
  height: 32px;
  border-radius: 32px;
  object-fit: cover;
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.comment-show-container{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.comment-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-user-and-body-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.delete-button {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
}